.container {
  background-color: white;
  width: 100%;
  padding: 60px 50px;
  display: flex;
}
.brands {
  display: flex;
  overflow: hidden;
  justify-content: space-between;
  background-color: #e2f4ff;
  width: 100%;
  padding: 30px;
  align-items: center;
}
