@font-face {
  font-family: Poppins;
  src: url("../fonts//Poppins-Regular.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: Poppins;
}
/* responsive */

.heartImg {
  position: absolute;
  width: 40px;
  font-size: 2rem;
}
